@import "./../../styles/functions";
@import "./../../styles/variables";
@import "./../../styles/mixins";

.btn-dropdown {
  margin-top: 6px;
  width: 175px;
  display: flex;
  flex-direction: column;
  @include small-xs-screens {
    width: auto;
  }
  .btn-dropdown-button {
    cursor: pointer;
    @include small-xs-screens {
      max-width: 50px;
      align-self: flex-end;
      padding: 0 16px;
    }
    .desktop-button {
      min-width: 109px;
      height: 24px;
      line-height: 1.33;
      letter-spacing: -0.09px;
      text-align: right;
      .fa {
        font-size: 14px;
        color: $black;
        margin: 0 5px;
      }
      &:hover {
        opacity: 0.6;
      }
    }
    .hamburger-button {
      margin-top: 10px;
      width: 16px;
      height: 18px;
      color: $black;
      text-align: right;
    }
  }
  .btn-dropdown-dropdown {
    width: 175px;
    min-height: 154px;
    border-radius: 4px;
    box-shadow: 0 16px 24px 0 rgba(17, 17, 17, 0.2);
    background-color: $white;
    @include small-xs-screens {
      width: auto;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0 15px 0 16px;
      li {
        display: block;
        a {
          color: $black;
          font-weight: bold;
          display: inline-block;
          width: 100%;
          &:hover {
            text-decoration: none;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
