@import "./../../styles/functions";
@import "./../../styles/variables";
@import "./../../styles/mixins";

a.logo {
  @include small-xs-screens {
    padding-left: 16px;
  }
  img {
    display: inline-block;
    margin-bottom: 6px;
  }
  span {
    color: $black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.12px;
    margin-left: 12px;
  }
  &:hover {
    text-decoration: none;
  }
}
