@import "./../../../styles/functions";
@import "./../../../styles/variables";
@import "./../../../styles/mixins";

.backdrop {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.popup {
  width: 414px;
  height: 324px;
  border-radius: 8px;
  box-shadow: 0 16px 24px 0 rgba(17, 17, 17, 0.2);
  background-color: $white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 2;
  @include xs-screens {
    left: 20%;
  }
  @include small-xs-screens {
    left: 10%;
    width: 250px;
  }
  .item {
    text-align: center;
    .fa-exclamation-circle {
      font-size: 96px;
      color: red;
      @include small-xs-screens {
        font-size: 60px;
      }
    }
  }
  .button-close {
    text-align: right;
    padding-right: 15px;
    .fa {
      font-size: 18px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.12px;
    color: $black;
    @include small-xs-screens {
      font-size: 18px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.33;
    color: $black;
    padding: 0 12px;
    @include small-xs-screens {
      font-size: 14px;
    }
  }
}
