@import "./../styles/functions";
@import "./../styles/variables";
@import "./../styles/mixins";

.navigation-top {
  height: 84px;
  display: flex;
  justify-content: space-around;
  padding-top: 38px;
  @include small-xs-screens {
    height: auto;
    padding: 0;
  }
  .nav-button {
    margin-left: auto;
    @include small-xs-screens {
      width: 100%;
    }
  }
  div.logo-container-mobile {
    position: absolute;
    top: 12px;
  }
}
