@import "./styles/functions";
@import "./styles/variables";
@import "./styles/mixins";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
	font-size: 18px;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
}

.wrapper {
	max-width: 1366px;
	// height: 1854px;
	margin: 0 auto;
	background-color: $white;
}
.app {
	padding: 0 40px;
}

.border {
	border: 1px solid black;
}
