@import "./styles/functions";
@import "./styles/variables";
@import "./styles/mixins";

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  background-color: $white;
}
.app {
  padding: 0 40px;
  @include small-xs-screens {
    padding: 0;
  }
}

.border {
  border: 1px solid black;
}
